.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1200;
}

.modal {
    max-width: 75%;
    max-height: 75%;
    position: relative;
}
.btnClose {
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 4px;
    color: white;
    background-color: rgba(100, 100, 100, 0.545);
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid dimgray;
    border-radius: 50%;
}